body {
  margin: 0;
  font-family: "Roboto", "Times New Roman", Times, serif; /* Apply Roboto font to the entire body */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
